<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>User</h1>
    <h2>Hello  {{.u1.Name}}</h2>
    <h2>年龄:  {{.u1.Age}}</h2>
    <h2>性别:  {{.u1.Gender}}</h2>
<h1>Map</h1>
    <h2>Hello  {{.m1.name}}</h2>
    <h2>年龄:  {{.m1.age}}</h2>
    <h2>性别:  {{.m1.gender}}</h2>
</body>
</html>